.map {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

.btn:active, .btn:focus, .btn:hover, .z-depth-1-half {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

agm-map {
  height: 100%;
}