<!--Grid row-->
<div class="row">
    <!--Grid column-->
    <div class="col-lg-5 col-md-12">
        <address>
            <abbr title="Address"><i class="fa fa-map"></i></abbr>
            1234 Example Street<br>
            Antartica, Example 0987<br>
        </address>
          
        <address>
            <abbr title="Phone"><i class="fa fa-phone"></i></abbr> (123) 456-7890
        </address>

        <address>
            <abbr title="Phone"><i class="fa fa-envelope"></i></abbr>&nbsp;<a href="mailto:#">exam.ple@example.com</a>
        </address>

        <table class="table-sm table-striped">
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>10:00 - 00:00</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>10:00 - 00:00</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>10:00 - 00:00</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>10:00 - 03:00</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>10:00 - 03:00</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>10:00 - 00:00</td>
                </tr>                        
            </tbody>
        </table>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-7 col-md-12">
        <map-component></map-component>
    </div>
    <!--Grid column-->
</div>
<!--Grid row--> 