<header>
<nav class="navbar navbar-dark bg-dark mb-5 fixed-top">
  <a class="navbar-brand" href="/">Hold my beer</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Who?</a>
      <a class="nav-item nav-link" href="#">Where?</a>
      <a class="nav-item nav-link" href="#">What?</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/javiercp/holdmybeer-front" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/darthcampos" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>


<!--Mask-->
<div id="intro" class="view">
    <div class="mask rgba-black-strong">
        <div class="container-fluid d-flex align-items-center justify-content-center h-100">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-10">
                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Chigre 2.0</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequuntur.</h4>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.Mask-->


</header>