header,
#intro {
    height: 100%;
}

#intro {
    background: url('/assets/Beer_taps.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.view .mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.view, .view .mask {
    overflow: hidden;
}

.rgba-black-strong, .rgba-black-strong::after {
    background-color: rgba(0,0,0,.7);
}