@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html,
body
{
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.white-text {
    color: #fff !important;
}

.hr-light {
    border-top: 1px solid #fff;
}

.btn-outline-white {
    border: 2px solid #fff !important;
    background-color: transparent !important;
    color: #fff !important;
}

.my-4 {
    margin-bottom: 1.5rem !important;
}
.my-4 {
    margin-top: 1.5rem !important;
}