<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Who are we -->
        <section id="who">
          <!-- Heading -->
          <h2 class="mb-5 font-weight-bold text-center">Who are we?</h2>

          <!--Grid row-->
          <div class="row">
              <!--Grid column-->
              <div class="col-md-6 mb-4">

              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-6">
                <!--Excerpt-->
                <a href="" class="teal-text">
                    <h6 class="pb-1"><i class="fa fa-heart"></i><strong> Lifestyle </strong></h6>
                </a>
                <h4 class="mb-3"><strong>Chigre 2.0</strong></h4>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                    debitis aut rerum.</p>

                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis
                    debitis aut rerum.</p>
                <p>by <a><strong>Chigreru</strong></a>, 13/07/2018</p>
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->          

        </section>
        <!--Section: Who are we -->

        <hr class="my-5">

        <!--Section: Where are we-->
        <section id="where">
        </section>
        <!--Section: Where are we-->

        <hr class="my-5">

        <!--Section: What is tapped-->
        <section id="what">
        </section>
        <!--Section: What is tapped-->

        <hr class="my-5">

        <!--Section: Contact-->
        <section id="contact">
        </section>
        <!--Section: Contact-->
    </div>
</main>
<!--Main layout-->