<div class="background">
  <div class="gradient">

    <div class="container">
      <h1>Chigre 2.0</h1>

      <div class="actions">
  
        <a mat-raised-button class="actions-main" color="primary" routerLink="/">
         Who are we?
        </a>

        <a mat-raised-button class="actions-main" color="primary" routerLink="/">
         Where are we?
        </a>

        <a mat-raised-button class="actions-main" color="primary" routerLink="/">
         What do we serve?
        </a>

        </div>
      </div>

    </div>
  </div>