<!--Main layout-->
<main class="mt-5">
    <div class="container">
        <!--Section: Who are we -->
        <section id="who">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Who are we?</h2>

            <who-component></who-component>
        </section>
        <!--Section: Who are we -->

        <hr class="my-5">

        <!--Section: Where are we-->
        <section id="where">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">Where are we?</h2>

            <where-component></where-component>
        </section>
        <!--Section: Where are we-->

        <hr class="my-5">

        <!--Section: What is tapped-->
        <section id="what">
            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold text-center">What is tapped?</h2>

            <what-component></what-component>
        </section>
        <!--Section: What is tapped-->
    </div>
</main>
<!--Main layout-->